{% extends 'pagelayout.twig' %}

{% block title %}{{parent()}} - Home :'({% endblock title %}

{% block body %}
	{% include 'parts/navbar.twig' %}

    {% include 'blocks/subscribe.twig' with { servers: servers } %}
	{% include 'blocks/service-email.twig' %}
    {% include 'blocks/service-sms.twig' %}
    {% include 'blocks/service-speed.twig' %}
    

	{% include 'blocks/contact.twig' %}

    {% include 'parts/footer.twig' %}
    
{% endblock %}