{% extends 'pagelayout.twig' %}

{% block title %}{{parent()}} - Unregistered :'({% endblock title %}

{% block body %}
	{% include 'parts/navbar.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
					<h1>Kimsufi-Notifier</h1>
                    <h3>Mentions légales</h3>
                    <hr class="intro-divider">
                    {% include 'blocks/legal.twig' %}
				</div>
			</div>
		</div>
	</div>

    {% include 'parts/footer.twig' %}
    
{% endblock %}