{% extends 'pagelayout.twig' %}

{% block title %}{{parent()}} - Unregistered :'({% endblock title %}

{% block body %}
	{% include 'parts/navbar.twig' %}

	<div class="intro-header">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12">
	                <div class="intro-message">
						{% set type_fr = type %}
						{% if type == 'phone' %}
							{% set type_fr = 'téléphone' %}
						{% endif %}

						{% if not result.error is defined and result.server is defined %}
							<div class="success">
								Votre {{type_fr}} {{result.subscriber.contact}} a été ajouté à la liste de notification pour le serveur Kimsufi {{result.server.name}}
							</div>
						{% elseif result.error is defined %}
							<div class="warning">
								{{ result.error|raw }}
							</div>
						{% endif %}
						<a href='/'>Retourner à l'accueil</a>
					</div>
				</div>
			</div>
		</div>
	</div>

    {% include 'parts/footer.twig' %}
    
{% endblock %}