{% extends 'pagelayout.twig' %}

{% block title %}{{parent()}} - Unregistered :'({% endblock title %}

{% block body %}
	{% include 'parts/navbar.twig' %}

	<div class="intro-header">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12">
	                <div class="intro-message">
						<h1>Kimsufi-Notifier</h1>
	                    <h3 style="color: #D8000C;">Se désabonner des notifications</h3>
	                    <hr class="intro-divider">
	                    <form action="/unsubscribe" method="post" role="form">

	                        <div class="servers input-group">
	                          <span class="input-group-addon">
	                            <i class="fa fa-server"></i>
	                          </span>
	                          <select name="server" class="form-control">
	                            <option value="" selected>Tout les serveurs</option>
	                            {% for server in servers %}
	                                <option value="{{server.reference}}">{{server.name}}</option>
	                            {% endfor %}
	                          </select>
	                        </div>

	                        <div class="email input-group">
	                          <span class="input-group-addon">
	                            <i class="fa fa-envelope"></i>
	                          </span>
	                          <input class="form-control" type="text" name="email" placeholder="votre@email.com" onkeyup="checkUnsubscribeForm()">
	                        </div>

	                        <div class="or">ou</div>

	                        <div class="phone input-group">
	                          <span class="input-group-addon">
	                            <i class="fa fa-mobile"></i>
	                          </span>
	                          <input class="form-control" type="text" name="phone" placeholder="0612345678" onkeyup="checkUnsubscribeForm()">
	                        </div>

	                        <input type="submit" value="Se désabonner" class="btn btn-large btn-primary" disabled />
	                  </form>
					</div>
				</div>
			</div>
		</div>
	</div>

    {% include 'parts/footer.twig' %}
    
{% endblock %}