{% extends 'pagelayout.twig' %}

{% block title %}{{parent()}} - Unregistered :'({% endblock title %}

{% block body %}
	{% include 'parts/navbar.twig' %}

	<div class="intro-header">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12">
	                <div class="intro-message">
						{% set type_fr = type %}
						{% if type == 'phone' %}
							{% set type_fr = 'téléphone' %}
						{% endif %}

						{% if not result.error is defined and result.subscribers is defined %}
							<div class="success">
								Votre {{type_fr}} {{contact}} a été désabonné de la liste de notification pour le(s) serveur(s) Kimsufi suivant(s) :
								<ul>
								{% for subscriber in result.subscribers %}
									<li>{{subscriber.server.name}}</li>
								{% endfor %}
								</ul>
							</div>
						{% elseif result.error is defined  %}
							<div class="warning">
								{{ result.error|raw }}
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

    {% include 'parts/footer.twig' %}
    
{% endblock %}