<!-- Service3 block -->
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Le service de notification le plus rapide du web</h2>
                <p class="lead">Nous vérifions la disponibilité des serveurs toute les <b>10&nbsp;secondes</b> directement auprès du service de location de OVH pour que vous soyez le premier averti!</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/10-seconds-clock.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- End of Service3 block -->