<!-- Service2 block -->
<div class="content-section-b">
    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Soyez plus réactif grâce à l'envoie de SMS</h2>
                <p class="lead">Optez plutot pour l'envoie d'un texto au moment ou un serveur est disponible. L'envoie du SMS est gratuit et immédiat. Un lien vous permet de louer votre serveur directement depuis votre mobile.</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="/img/sms.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- End of Service2 block -->