<!-- Service1 block -->
<a  name="services"></a>
<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Recevez un email dès qu'un serveur est disponible</h2>
                <p class="lead">Choisissez parmis la gamme des serveurs Kimsufi et recevez un email dès sa disponibilité pour être le premier sur le coup!</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="/img/email.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- End of Service1 block -->