<!-- Header -->
<a name="subscribe"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Kimsufi-Notifier</h1>
                    <h3>Soyez informés de la disponibilité des serveurs Kimsufi en temps réel</h3>
                    <hr class="intro-divider">
                    <form action="/subscribe" method="post" role="form">

                        <div class="servers input-group">
                          <span class="input-group-addon">
                            <i class="fa fa-server"></i>
                          </span>
                          <select name="server" class="form-control" onchange="checkSubscribeForm()">
                            <option value="" disabled selected>Choisissez un serveur</option>
                            {% for server in servers %}
                                <option value="{{server.reference}}">{{server.name}}</option>
                            {% endfor %}
                          </select>
                        </div>

                        <div class="email input-group">
                          <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                          </span>
                          <input class="form-control" type="text" name="email" placeholder="votre@email.com" onkeyup="checkSubscribeForm()">
                        </div>

                        <div class="or">ou</div>

                        <div class="phone input-group">
                          <span class="input-group-addon">
                            <i class="fa fa-mobile"></i>
                          </span>
                          <input class="form-control" type="text" name="phone" placeholder="0612345678" onkeyup="checkSubscribeForm()">
                        </div>

                        <input type="submit" value="S'abonner" class="btn btn-large btn-primary" disabled />
                  </form>
                </div>
                <div>© Kimsufi. Tous droits réservés par OVH</div>
            </div>
        </div>

    </div>
</div>
<!-- End of Header -->